<div class="row1" width="100%">
    <div class="top1">
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:70px;text-shadow: 1px 1px 1px rgb(250, 76, 7),2px 2px 1px red;margin-bottom: 15px;">AssuredOrganic</h1>
    </div>
      <div class="top2">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="./about-us"><i class="fa fa-fw fa-search"></i> About</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Gallary</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
    </div>
    <div class="container">
        <p style="text-align:center;margin-top:20px;font-size:25px;font-weight:700">Welcome to Organic Culture</p>
      <video width="560" height="315" controls  muted autoplay>
      <source src="C:\Users\hp\Citibridge vcCode\assuredOrganic\src\app\comman-dashboard\video.mp4" type="vide0/mp4">
     Browser does not support this video
      </video>
      <div class="row" width="100%">
        <div class="col-lg-12">
          
          <p style="margin: 50px 5px 50px;text-align: justify;font-size: large;">Organic Food has come a long way since the days when it had a reputation for being grubby, ugly-looking foods only found in the darkest corners of specialty health food stores. These days you can purchase organic food but we are here to provide you 100% fresh pure organic produce at your doorstep because we care for you.The health benefits are clear and the public’s choice unanimous – absolutely better for you. BE ORGANIC - BE HEALTHY</p>
  
       
          <p style="margin-top:20px;font-size:25px;font-weight:700; text-align: center;">Location Map</p>
          <div class="map">
              <div class="mapin" style="margin: 0 0 0;">
                <iframe width="1000px" height="415" id="gmap_canvas" src="https://maps.google.com/maps?q=pune&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
          </div>
    </div>
      </div>
