
.decore
{
    background: url("C:\Users\hp\Citibridge vcCode\assuredOrganic\src\app\ss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;  
    background-repeat: no-repeat;
    background-size: cover;
}


/* .decore button{
    text-align: center;
    align-self: center;
    margin:20% 5px; 
    padding: 12px;
    width: 200px;
    height: 100;

}
.decore but{
    text-align: center;
    margin: 5px 5px; 
    padding: 12px;  margin: 5px 5px; 
    width: 200px;
    
} */