<div class="back">

    <div style="top: 10px;right: 9px;position: absolute;">
    <img src="https://thumbs.dreamstime.com/b/user-avatar-icon-button-profile-symbol-flat-person-icon-vector-user-avatar-icon-button-profile-symbol-flat-person-icon-%C3%A2%E2%82%AC%E2%80%9C-stock-131363829.jpg" alt="Your Account" width="70"  height="70">
    </div>
    <div style="margin-top: 15%;">
            <div style="text-align: center;">
                <button   (click)="gotoregisterproduct()" style="margin:10px;background:wheat; padding: 12px;width: 300px;height: 100;font-size: larger;font-weight: 700;">Register product</button>
            </div>
            
            <div style="text-align: center;">
                <button style="margin:10px; padding: 12px;width: 300px;height: 100;font-size: larger;font-weight: 700;">Update Product </button>
            </div>
            
            <div style="text-align: center;">
                <button style="margin:10px; padding: 12px;background-color:grey; width: 300px;height: 100;;font-size: larger;font-weight: 700;">Sell Product</button>
            </div>
</div>
</div>