


.back
{
    background: url("C:\Users\hp\Citibridge vcCode\assuredOrganic\src\app\farmers-option\check.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      padding: 0%;
}