<div class="back">
<div class="register-form">
    <div class="form">
        <form class="register-form">
           <p>Farmer registration</p> 
          <input type="text" placeholder="Full name"/>
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="Contact No"/>
          <input type="text" placeholder="Location"/>
          <input type="text" placeholder="PIN code"/>
          <input type="text" placeholder="Area of Land for Organic Produce (*in acrs)"/>
          <input type="text" placeholder="Organic Farmer registration Id"/>
          

          



          
          <button>create Account</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        </div>
    
    </div>
    </div>
    
