body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 40px;
    background-color: grey;
  }

  .row
  {
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: lightgreen;
  }
  .top2 a {
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    align-items: right;
  }
  .top2
  {
    align-items: right;
    top: 40px;
    right: 15px;
    padding-left: 15px;
    position: absolute;
  }
  
  
  .top2 input[type=text] {
     
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  .top1
  {
    top: 15px;
    padding: 10px;
    Left:100px;
    position: absolute;
   color:green;
   font-weight: bold;
  }
  .bcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .box,.fcontainer{
    margin: 2em;
    box-shadow: 10px 5px 5px dimgrey;
    width: 90%;
    height:200px;
    padding: 40px;
    /* background-color:lightpink; */
    color:black;
  }
