
<div class="row" width="100%">
    <div class="top1">
      <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: 70px;text-shadow: 1px 1px 1px rgb(250, 76, 7),2px 2px 1px red;">AssuredOrganic</h1>
    </div>
      <div class="top2">
         <input type="button" value="Delet user">
         <input type="button" value="Delet customer">
         <input type="button" value="Orders">
    </div>
    </div>
    <div class="bcontainer">
        <div class="box">
            <button>Available Product</button>
        </div>
        <div class="box">
            <button>Available Orders</button>
        </div>
    </div>
        <div class="bcontainer">
            <div class="box">

            </div>
            <div class="box">

            </div>
        </div>
        <div class="bcontainer">
            <div class="box">
                
            </div>
            <div class="box">
             
            </div>
        </div>
    
    
