
.back
{
    background: url("https://previews.123rf.com/images/aiselin/aiselin1809/aiselin180900539/108313440-fresh-summer-fruits-vegetables-berries-background-cherries-peaches-strawberries-cabbage-broccoli-cau.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    
    
}
.form {
    position: relative;
    z-index: 1;
    
    background: #FFFFFF;
    backface-visibility: hidden;
    max-width: 450px;
    margin: 10px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .p{
    font-family: "Roboto", sans-serif;
    outline: 0;
    font-size: large;
    font-style:normal;
    margin-bottom: 15px;
    
    
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
 
  
  
  

  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }