<div class="back">
    <div class="register-form">
        <div class="form">
            <form class="register-form">
               <p class="p">register your Product</p>
               <label for="fruitsorveggies">Choose Product:</label> 
                <select style="padding: 5px; width: 200px; margin: 15px;" id="fruitsorveggies" name="Chooseproduct">
                    <optgroup label="Fruits" >
                       
                        <option>Apples</option>
                        <option>Grapes</option>
                        <option>Strawberries</option>
                        <option>Grapefruit</option>
                        <option>Kiwi</option>
                        <option>Mango</option>
                        <option>Papaya</option>
                        <option>Pineapple</option>
                        <option>Watermelon</option>
                      </optgroup>
                      <optgroup label="Vegetables">
                        <option>Spinach</option>
                        <option>Cucumbers</option>
                        <option>Cherry Tomatoes</option>
                        <option>Mushrooms</option>
                        <option>Onion</option>
                        <option>Cabbage</option>
                        <option>eggplant</option>
                        <option>Summer Squash</option>
                        <option>Sweet Bell Peppers</option>
                        <option selected></option>

                        
                      </optgroup>
                    
                
              </select>
              <input type="text" placeholder="Area of land under Production"/>
              <input type="text" placeholder="Cultivation Date"/>
              <input type="text" placeholder="Required time in months to get ready for sell"/>
              <!-- <input type="text" placeholder="approximate cost for Production"/> -->
         
      
              <p style="text-align: left;padding-left: 6%;">upload Cultivation Image</p>
              <input type="file" id="myfile" name="filename" placeholder="upload  picture">
              <p style="text-align: left;padding-left: 6%;">upload Image after 15 days of cultivation</p>
              <input type="file" id="myfile" name="filename" placeholder="upload  picture">
              <p style="text-align: left;padding-left: 6%;">upload Image 15 days before harvesting </p>
              <input type="file" id="myfile" name="filename" placeholder="upload  picture">
              <p style="text-align: left;padding-left: 6%;">upload Image of the product which is ready for sell</p>
              <input type="file" id="myfile" name="filename" placeholder="upload  picture">     
              <button>Register Product</button>
            </form>
            </div>
        
        </div>
        </div>
        
    
