<div class="back">
<div class="register-form">
<div class="form">
    <form class="register-form">
       <p>Customer registration</p> 
       <input type="text" placeholder="First name"/>
       <input type="text" placeholder="Last name"/>
      <input type="text" placeholder="username"/>
      <input type="text" placeholder="email address"/>
      <input type="password" placeholder="password"/>
      <input type="password" placeholder="repeat password"/>
      <input type="text" placeholder="address"/>
      
      <button>create Account</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    </div>

</div>
</div>
