
<div class="back">
    <div class="register-form">
        <div class="form">
            <form class="register-form">
               <p class="p">register your Product to sell</p> 
              <input type="text" placeholder="Product name"/>
              <!-- <input type="text" placeholder="Area of land under Production"/> -->
              <!-- <input type="text" placeholder="approximate avaibility of yield"/> -->
              <input type="text" placeholder="avaibility duration"/>
              <input type="text" placeholder="approximate cost of production(labour,seeds)"/>
              <input type="text" placeholder="Expected price per kg"/>
              <input type="text" placeholder="Recommended price per kg"/>

      
              <p style="text-align: left;padding-left: 6%;">upload Product Image</p>
              <input type="file" id="myfile" name="filename" placeholder="upload  picture">
              <button>Publish Product for customer</button>
            </form>
            </div>
        
        </div>
        </div>
        
    
