<div class="back">
    <div class="register-form">
    <div class="form">
        <form class="register-form">
           <p>Delivery Details</p> 
          <input type="text" placeholder="location"/>
          <input type="text" placeholder="near location"/>
          <input type="text" placeholder="name of the apparment/office"/>
          <input type="text" placeholder="flat no/house no"/>
          <input type="text" placeholder="Pin code"/>
          <input type="text" placeholder="contact no"/>
          <input type="text" placeholder="alternate contact no"/>
          <input type="text" placeholder="Suitable time for delivery"/>

          
          <button>Place Order</button>
         
        </form>
        </div>
    
    </div>
    </div>
    